################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/APIREST/FileContentIndex/4cc18233-5c48-4f17-a63e-fa1dae01a992.vsidx
/.vs/APIREST/FileContentIndex/72b684d9-31b6-4d44-941e-fef242960df0.vsidx
/ApiExercise/.vs/APIREST/FileContentIndex/1e51a771-5bab-44e1-a021-ed231fbdb122.vsidx
/ApiExercise/.vs/APIREST/FileContentIndex/4aeb2c10-b27f-4681-8e72-4b9ce664a825.vsidx
/ApiExercise/.vs/APIREST/FileContentIndex/b215d715-3f85-4ae5-b5e1-c17a9004d9a3.vsidx
/ApiExercise/.vs/APIREST/FileContentIndex/f8aadfeb-4fb0-47ff-a276-c9b295177319.vsidx
/ApiExercise/.vs/APIREST/FileContentIndex/fc5f0662-8276-480a-8c9e-010f0b5c6d05.vsidx
/.vs/APIREST/v17/.wsuo

/ApiExercise/.vs/APIRESTPractice/FileContentIndex/1608da8e-f024-4133-a000-eb526fd9378c.vsidx
/ApiExercise/.vs/APIRESTPractice/FileContentIndex/28e17558-6e78-4932-94b7-6f1ae74fadbc.vsidx
/.vs/APIREST/FileContentIndex/3fd9f90a-9bb2-46ab-ae7a-690bfcb8a525.vsidx
/.vs/APIREST/FileContentIndex/b905c2fe-cb6c-443b-97f5-e4ad4c524ebf.vsidx
/ApiExercise/.vs/APIRESTPractice/FileContentIndex/1b92b600-5ffc-44e1-9851-14abc884f14c.vsidx
/ApiExercise/.vs/APIRESTPractice/FileContentIndex/20bfd511-1489-49f3-9e77-fd85417a02c4.vsidx
/ApiExercise/.vs/APIRESTPractice/FileContentIndex/38dc66c2-222a-4fe0-a633-a640c34c3340.vsidx
/ApiExercise/.vs/APIRESTPractice/FileContentIndex/7db27fee-9a64-4d00-af81-f636ced5c9f9.vsidx
/ApiExercise/.vs/APIRESTPractice/FileContentIndex/b9153fcc-fc43-4254-9cde-073639588625.vsidx
